
html, body {
	direction: rtl;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #061C37;
	background: #014D5D url(../img/background.png);
	background-repeat:repeat-x;
}

*{
	margin: 0 auto 0 auto;
	/* text-align:right; */
}

#header
{
	display: block;
	height:auto;
	position: relative;
	overflow: hidden;
	width: 90%;
	margin-top:30px;
	height: 35px;
}


.contentBox
{
	width:80%;
	height:auto;
	background-color:#FFFFFF;

}

.contentBox .innerBox 
{
	position:relative;
	width:98%;
	height:auto;
	top:10px;
	margin-left:10px;
	margin-right:10px;
	background-image:url(../img/content_back.png);
	background-repeat:repeat-x;
	padding-bottom:35px;
	padding-top:1px;
}

.contentTitle 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:24px;
	margin-bottom:0px;
	padding-top:18px;
	margin-left:15px;
	margin-right:15px;
	margin-top:15px;
}


.contentText 
{
	font-size:16px;
	line-height:24px;
	margin-left:13px;
	margin-right:13px;
}

#footer 
{
	width: 80%;
	height:20px;
	background: url(../img/footer.png) no-repeat;
	background-size: 100% 100%;
	text-align:center;
	font-size:11px;
	font-family: Arial, Helvetica, sans-serif;
	color:#386172;
	padding-top:2px;

}

.tableData {
	width:25%;
}

.p {
	font-size:24px;
}

#errorMsg {
	color:red;
	display:none;
} 
#checMsg {
	color:red;
	display:none;
}