<!DOCTYPE html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>the Wall</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="../static/css/theWallStyle.css"/>
	<link rel="stylesheet" type="text/css" href="../static/css/magicwall.min.css"  />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600|Alfa+Slab+One" rel="stylesheet" type="text/css" />
	
</head>

<body onload="setImg();">
	<div id="header" style="text-align: center;">
		?עד כה חתמו על העצומה <a id="visitorsCount"> </a> אנשים, מה איתך
	</div>
<!--
		<p>
		The wall currently contains <span class="grid-count code"></span> items.
		</p>
-->		
	<div id="mainPicture">
		<div id="demo" class="magicwall">
			<ul class="magicwall-grid"></ul>
		</div><!-- .magicwall -->
	
		<ul id="items-holder" style="display: none;">
	
		</ul>
	</div>
	<div id="footer">web development by Matan Shlomi</div>

	<!-- SCRIPTS -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="../static/js/get_counter.js"></script>
	<script type="text/javascript" src="../static/js/get_pictures.js"></script>
	<!-- <script type="text/javascript" src="../static/js/jquery.1.9.1.min.js"></script> -->
	<script type="text/javascript" src="../static/js/jquery.easing.min.js"></script>
	<script type="text/javascript" src="../static/js/jquery.magicwall.min.js"></script>
</body>
</html>
