<!DOCTYPE html>
<html>
	<head>
		<title>אקווריום</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="../static/css/commitmentStyle.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/myButton.css"/>
		<script type="text/javascript" src="../static/js/redirect.js"></script>
		<script type="text/javascript" src="../static/js/facebook_buttons.js"></script>
	</head>
	
	<body>
		<!-- language change menu -->
		<div id="header">
			<div class="topNaviagationLink"></div>	
		</div>
		<!-- main content of the page -->
		<div class="contentBox">
			<div class="innerBox">
				<div class="contentTitle" style="font-size: 28px" >מצטערים! אינך יכול/ה לחתום על העצומה</div>
				<br/><br/></br></br>
				<div class="contentText" style="font-size: 24px">
					<p style="text-align: center;">
						מבקר יקר, אנו שמחים שבחרת לבקר ב-"קיר המחויבות".
					</p></br>
					<p style="text-align: center;">
						אך, לצערנו אינך נמצא/ת פיזית באקווריום ולכן לא תוכל/י לחתום על העצומה של "קיר המחויבות".
					</p></br>
					<p style="text-align: center;">
						אנו מזמינים אותך לבוא לבקר באקווריום ולהנות מחוויה בלתי נשכחת
						</br></br></br></br>
					</p>
					<p style="text-align: center; font-size: 22px">
						בינתיים את/ה יכול/ה להכנס לאתר של
						<a href="http://www.seaisrael.org/">האקווריום</a></br>
					</p>

					<div id="button" style="text-align:center">
						<div class="fb-like"
							data-href="https://www.facebook.com/JerusalemBiblicalZoo/timeline" 
							data-layout="button_count" 
							data-action="like" 
							data-show-faces="true" 
							data-share="true">
						</div>
						<br/><br/><br/>
						<button class="myButton" type="button"  onclick="redirect('../templates/')">חזור</button>
						<br/><br/><br/>
					</div>
				</div>
			</div>
		</div>
		<!-- footer --> 
		<div id="footer">web development by <a href="mailto:matanshhlomi88@gmail.com">Matan Shlomi</a></div>
	</body>

</html>