<!DOCTYPE html>
<html>
	<head>
		<title>אקווריום</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="../static/css/commitmentENStyle.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/myButton.css"/>
		<script type="text/javascript" src="../static/js/redirect.js"></script>
		<script type="text/javascript" src="../static/js/deleteData.js"></script>
	</head>



    <body>
    <div id="header"></div>
    <!-- main content of the page -->
    <div class="contentBox">
        <div class="innerBox">
            <div class="contentTitle">Headline in English</div>

            <table style="width:100%;"><tr>
                <!-- Personal Information -->
                <td style="width: 48%;" valign="top">
                    <div class="contentText">
                        <p>Maybe I use this format on my site, in any case need to add a few more words to make it look good.
                        Maybe I use this format on my site, in any case need to add a few more words to make it look good
                        </p><br/>
                        <table class="table">
                            <tr >
                                <td class="tableData"> First name: </td>
                                <td><label><input id="firstName"/></label></td>
                            </tr>
                            <tr>
                                <td class="tableData"> Last name: </td>
                                <td><label><input id="lastName"/></label></td>
                            </tr>
                            <tr>
                                <td class="tableData"> E-mail: </td>
                                <td><label><input id="mail" /></label></td>
                            </tr>
                            <tr>
                                <td class="tableData"> birthday: </td>
                                <td><label><input id="dateOfBirth" /> </label></td>
                            </tr>
                            <tr>
                                <td class="tableData"> Country: </td>
                                <td><label><input id="country" /> </label></td>
                            </tr>
                            <tr>
                                <td class="tableData"> City: </td>
                                <td><label><input id="city" /> </label></td>
                            </tr>
                        </table>

                    </div>
                </td> <!-- END - Personal Information -->
                <!-- Commitment list and take photos with webcam -->
                <td style="width: 48%;" valign="top">
                    <div class="contentText"><p style="font-size:28px">select the rules to commit</p><br/>
                        <label>
                            <input type="checkbox" value="0" checked/> take bags to collect all the garbage when we out to picnic in nature. <br/><br/>
                        </label>
                        <label>
                            <input type="checkbox" value="1" checked/> From now on I will use biodegradable bags instead of plastic bags.<br/><br/>
                        </label>
                        <label>
                            <input type="checkbox" value="2" checked/> Drinking bottles I'll put only in recycle garbage. <br/><br/>
                        </label>
                        <label>
                            <input type="checkbox" value="0" checked/> take bags to collect all the garbage when we out to picnic in nature. <br/><br/>
                        </label>
                        <label>
                            <input type="checkbox" value="1" checked/> From now on I will use biodegradable bags instead of plastic bags. <br/><br/>
                        </label>
                        <label>
                            <input type="checkbox" value="2" checked/> Drinking bottles I'll put only in recycle garbage. <br/><br/>
                        </label>
                    </div>
                </td> <!-- END - Commitment list and take photos with webcam -->
            </tr>
            </table>
            <div id="webcamWrapper">
                <div id="buttons" style="margin:3px; text-align:center">
                    <button class="myButton" type="button" onclick="deleteData();">reset</button>
                    <button class="myButton" type="button" onclick="redirect('../templates/snapshot.html')">Take picture</button>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
        <div id="footer">web development by <a href="mailto:matanshhlomi88@gmail.com">Matan Shlomi</a></div>
    </body>
</html>