<!DOCTYPE html>
<html>
	<head>
		<title>אקווריום</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<link rel="stylesheet" type="text/css" href="../static/css/commitmentStyle.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/myButton.css"/>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script type="text/javascript" src="../static/js/redirect.js"></script>
		<script type="text/javascript" src="../static/js/commitmentPageFun.js"></script>
		<script type="text/javascript" src="../static/js/fixStrings.js"></script>
		<script type="text/javascript" src="../static/js/get_commitment.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<link href="../static/css/datepicker.min.css" rel="stylesheet" type="text/css">
		<script src="../static/js/datepicker.js"></script>
	</head>
	
	<body onload="get_commitments('Hebrew');">
		<div id="header"></div>
		<!-- main content of the page -->
		<div class="contentBox" >
			<div class="innerBox">
				<div class="contentTitle" >כותרת לקטע בעברית!</div>
				<!-- <form> -->
					<div class="row row-rtl">
						<!-- Commitments list (get list from DB) -->
						<div class="col-sm-6">
							<div class="contentText">
								<h3><u>כללי ההתנהגות עליהם אתם מתחייבים לשמור</u>:</h3>
								<br/>
								<div id="commitmentsList"></div>
							</div>
						</div> <!-- END - Commitments list -->
						
						<!-- Personal Information -->
						<div class="col-sm-6">
							<div class="contentText">
								<p>אולי אני אשתמש בתבנית הזאת באתר שלי, בכל מקרה צריך להוסיף עוד כמה מילים כדי שזה יראה מלא וארוך.
									בקיצור, אני מקווה שזה נראה טוב, ושיהיה אפשר להשתמש בתבנית הזאת באתר. תודה רבה מתן שלומי.
								</p>
								<table class="table-condensed">
									<tbody>
										<tr>
											<td> <br/> </td>
											<td> <div id="errorMsg"> חייב להכניס שם פרטי, שם משפחה וכתובת מייל</div> </td>
										</tr>
										<tr>
											<td class="tableData" >* שם פרטי:</td>
											<td><input id="firstName" placeholder="שם פרטי"/></td>
										</tr>
										<tr>
											<td class="tableData" >* שם משפחה:</td>
											<td><input id="lastName" placeholder="שם משפחה"/></td>
										</tr>
										<tr>
											<td class="tableData">* כתובת מייל:</td>
											<td><input type="text" id="mail" placeholder="example@example.com"/></td>
										</tr>
										<tr >
											<td class="tableData">תאריך לידה:</td>
											<td ><input type="none" id="dateOfBirth" class="datepicker-here" placeholder="dd.mm.yyyy"/></td>
										</tr>
										<tr>
											<td class="tableData">מדינה:</td>
											<td><input id="country" placeholder="מדינה"/> </td>
										</tr>
										<tr>
											<td> <br/> </td>
											<td> <div id="checMsg"> ללא אישור קבלת מיילים לא ניתן להמשיך </div> </td>
										</tr>
										<tr>
											<td ></td >
											<td>
												<input id="mailApproval" type="checkbox"> אני מסכים לקבל הודעות ועדכונים דרך המייל.</input>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>  <!-- END - Personal Information -->
					</div>
					<div id="webcamWrapper">
						<div id="buttons" style="margin:3px; text-align:center">
							<button class="myButton" type="button" onclick="redirect('../templates/')">חזור</button>
							<button class="myButton" type="button" onclick="deleteData();">איפוס</button>
							<button class="myButton" type="submit" onclick="send_data('Hebrew');">המשך</button>
						</div>
					</div>
				<!-- </form>	-->		
			</div>
		</div>
		<!-- footer --> 
		<div id="footer">web development by Matan Shlomi</div>
	</body>
</html>