<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	

	<script type="text/javascript" src="../static/js/redirect.js"></script>
	<script type="text/javascript" src="../static/js/get_text_index.js"></script>
	<script type="text/javascript" src="../static/js/facebook_buttons.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/myButton.css"/>
	<link rel="stylesheet" type="text/css" href="../static/css/indexStyle.css"/>
	
	
	<title>אקווריום</title>
	</head>

	<body onload="get_text();">
		<div id="header"></div>
		<div id="mainPicture">
			<div class="picture">
				<div id="headerTitle">ברוכים הבאים לקיר המחויבות
					<br/>
					של האקווריום
				</div>
			</div>
		</div>
		<div class="contentBox">
			<div class="innerBox">
				<div class="row">
					<div class="col-sm-4" style="text-align:left">
						<h3 class="contentHeadline" id="english_headline"> <!-- English headline --> </h3> 
						<div class="contentText" id="english_text"> <!-- English text --> </div>
					</div>
					<div class="col-sm-4">
						<h3 class="contentHeadline" id="arabic_headline"><!-- Arabic headline --></h3> 
						<div class="contentText" id="arabic_text"> <!-- Arabic text --> </div>
					</div>
					<div class="col-sm-4">
						<!-- <h3 style="text-align:center" id="hebrew_headline"><!-- Hebrew headline -- > </h3> -->
						<h3 class="contentHeadline" id="hebrew_headline"><!-- Hebrew headline --></h3>
						<div class="contentText" id="hebrew_text"> <!-- Hebrew text --> </div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4" style="text-align:left">
						<div class="contentText" >
							<div style="text-align:center">
								<!-- <button class="myButton" type="button"  onclick="redirect('/templates/commitmentEN.html')">commit here</button> -->
								<button class="myButton" id="english_button_text" type="button"  onclick="checkLocation('../templates/commitmentEN.html')"><!-- commit here --></button>
								<br/><br/>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="contentText">
							<div style="text-align:center">
								<button class="myButton" id="arabic_button_text" type="button"  onclick="redirect('../templates/locationError.html')"><!--لارتكاب صحفى هنا--></button>
								<!-- <button class="myButton" type="button"  onclick="checkLocation('../templates/commitment.html')">ارتكاب صحفى هنا</button> -->
								<br/><br/>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="contentText">
							<div style="text-align:center">
								<!-- <button class="myButton" type="button"  onclick="redirect('/templates/commitment.html')" >לחתימה לחץ כאן</button>	-->
								<button class="myButton" id="hebrew_button_text" type="button"  onclick="checkLocation('../templates/commitment.html')"><!--לחתימה לחץ כאן--></button>
								<br/><br/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="footer">
			<div style="margin-top:-3px;">
				web development by Matan Shlomi
			</div>
		</div>
	</body>
</html>
