<!DOCTYPE html>
<html>
	<head>
		<title>אקווריום</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/css/commitmentStyle.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/myButton.css"/>
		<script type="text/javascript" src="../static/js/redirect.js"></script>
		<script type="text/javascript" src="../static/js/deleteData.js"></script>
	</head>
	
	<body>
        <div id="header"></div>
		<!-- main content of the page -->
		<div class="contentBox">
			<div class="innerBox">
				<div class="contentTitle">כותרת לקטע בעברית!</div>
				
				<table style="width:100%;"><tr>
					<!-- Personal Information -->
					<td style="width: 48%;" valign="top">
						<div class="contentText"><p>אולי אני ישתמש בתבנית הזאת באתר שלי, בכל מקרה צריך להוסיף עוד כמה מילים כדי שזה יראה מלא וארוך.
							בקיצור, אני מקווה שזה נראה טוב, ושיהיה אפשר להשתמש בתבנית הזאת באתר. תודה רבה מתן שלומי.</p><br/>

							<table class="table">
								<tr >
									<td class="tableData">שם פרטי:</td>
									<td><label><input id="firstName"/></label></td>
								</tr>
								<tr>
									<td class="tableData">שם משפחה:</td>
									<td><label><input id="lastName"/></label></td>
								</tr>
								<tr>
									<td class="tableData">כתובת מייל:</td>
									<td><label><input id="mail" /></label></td>
								</tr>
								<tr>
									<td class="tableData">תאריך לידה:</td>
									<td><label><input id="dateOfBirth" /> </label></td>
								</tr>
								<tr>
									<td class="tableData">מדינה:</td>
									<td><label><input id="country" /> </label></td>
								</tr>
								<tr>
									<td class="tableData">עיר:</td>
									<td><label><input id="city" /> </label></td>
								</tr>
							</table>

						</div>
					</td> <!-- END - Personal Information -->
					<!-- Commitment list and take photos with webcam -->
					<td style="width: 48%;" valign="top">
						<div class="contentText"><p style="font-size:28px">תבחרו את ככלי ההתנהגות עליהם תתחייבו!</p><br/>
                            <label>
                                <input type="checkbox" value="0" checked disabled/> ביציאה לפיקניק ולטבע ניקח איתנו שקיות ונאסוף את כל הזבל. <br/><br/>
                            </label>
                            <label>
                                <input type="checkbox" value="1" checked disabled/> מעכשיו אני אשתמש בשקיות מתכלות במקום שקיות ניילון. <br/><br/>
                            </label>
                            <label>
                                <input type="checkbox" value="2" checked disabled/> בקבוקי שתיה אני אשים רק במיחזורית <br/><br/>
                            </label>
                            <label>
                                <input type="checkbox" value="0" checked disabled/> ביציאה לפיקניק ולטבע ניקח איתנו שקיות ונאסוף את כל הזבל. <br/><br/>
                            </label>
                            <label>
                                <input type="checkbox" value="1" checked disabled/> מעכשיו אני אשתמש בשקיות מתכלות במקום שקיות ניילון. <br/><br/>
                            </label>
                            <label>
                                <input type="checkbox" value="2" checked disabled/> בקבוקי שתיה אני אשים רק במיחזורית <br/><br/>
                            </label>
						</div>
					</td> <!-- END - Commitment list and take photos with webcam -->
				</tr>
				</table>
				<div id="webcamWrapper">
					<div id="buttons" style="margin:3px; text-align:center">
						<button class="myButton" type="button" onclick="deleteData();">איפוס</button>
						<button class="myButton" type="button" onclick="redirect('../templates/snapshot.html')">צלם תמונה</button>
					</div>
				</div>				
			</div>
		</div>
		<!-- footer --> 
		<div id="footer">web development by <a href="mailto:matanshhlomi88@gmail.com">Matan Shlomi</a></div>
	</body>
	

</html>