<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="/CommitmentWall/static/css/indexENStyle.css"/>
	<link rel="stylesheet" type="text/css" href="/CommitmentWall/static/css/myButton.css"/>
	<script type="text/javascript" src="/CommitmentWall/static/js/redirect.js" > </script>	
	
	<title>אקווריום</title>
	</head>

	<body>

		<div id="header">
			<div class="topNaviagationLink"><a href="index.html">عربي</a></div>
			<div class="topNaviagationLink"><a href="indexEN.html">English</a></div>
			<div class="topNaviagationLink"><a href="index.html">עברית</a></div>
		</div>
		<div id="mainPicture">
			<div class="picture">
				<div id="headerTitle">Welcome to the Commitment wall</div>
				<br/>
				<div id="headerTitle">of the Aquarium</div>
			</div>
		</div>
		<div class="contentBox" style="direction: rtl:">
			<div class="innerBox" >
				<div class="contentTitle" >Welcome to the Commitment wall of the Aquarium</div>
				<div class="contentText" >
					<p>the Jerusalem Biblical Zoo want to promote messages of education and conservation of nature. 
					so the first aquarium in the country will open in a one year. 
					Aquarium built in the expansion area of the Jerusalem Biblical Zoo.</p><br />
					<p>Aquarium will focus on the Mediterranean and the Red Sea with the understanding that animals,
						particularly fish that live in them are threatened with extinction. By 6 hectares of built-up area will be presented to visitors
						many species of sharks, fish, jellyfish and sea turtles in huge tanks and aquariums of various sizes,
						all the internal display is darkened and elegant. In the last part of the aquarium will be "Commitment Wall"
						where visitors undertake a number of "commandments" or rules of conduct on issues related to the marine environment
					</p><br/>
					<p>Aquarium will focus on the Mediterranean and the Red Sea with the understanding that animals,
						particularly fish that live in them are threatened with extinction. By 6 hectares of built-up area will be presented to visitors
						many species of sharks, fish, jellyfish and sea turtles in huge tanks and aquariums of various sizes,
						all the internal display is darkened and elegant. In the last part of the aquarium will be "Commitment Wall"
						where visitors undertake a number of "commandments" or rules of conduct on issues related to the marine environment
					</p><br/><br/>

					<div style="text-align:center">					
						<button class="myButton" type="button"  onclick="redirect('/commitmentWall/templates/commitmentEN.html')">commit here</button>	
						<br/><br/>
						<div class="fb-like"
							data-href="https://www.facebook.com/JerusalemBiblicalZoo/timeline" 
							data-layout="button_count" 
							data-action="like" 
							data-show-faces="true" 
							data-share="true">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="footer">web development by <a href="mailto:matanshhlomi88@gmail.com">Matan Shlomi</a></div>
	</body>
</html>
