<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<link rel="stylesheet" type="text/css" href="/CommitmentWall/static/css/indexStyle.css"/>
	<script type="text/javascript" src="/CommitmentWall/static/js/redirect.js"></script>
	<script type="text/javascript" src="/CommitmentWall/static/js/facebook_buttons.js"></script>
	<link rel="stylesheet" type="text/css" href="/CommitmentWall/static/css/myButton.css"/>
	
	<title>אקווריום</title>
	</head>

	<body>

		<div id="header">
			<div class="topNaviagationLink"><a href="index.html">عربي</a></div>
			<div class="topNaviagationLink"><a href="indexEN.html">English</a></div>
			<div class="topNaviagationLink"><a href="index.html">עברית</a></div>
		</div>
		<div id="mainPicture">
			<div class="picture">
				<div id="headerTitle">ברוכים הבאים לקיר המחויבות</div>
				<br/>
				<div id="headerTitle">של האקווריום</div>
			</div>
		</div>
		<div class="contentBox">
			<div class="innerBox">
				<div class="contentTitle">ברוכים הבאים לקיר המחויבות של האקווריום!</div>
				<div class="contentText">
					<p>בגן החיות רוצים לקדם מסרים של חינוך ושמירה על הטבע. לכן בעוד כשנה ייפתח האקווריום הראשון בישראל.
					האקווריום שנבנה בשטח ההרחבה של גן החיות התנ"כי בירושלים.</p><br />
					<p>האקווריום יתמקד בים התיכון ובים האדום מתוך הבנה שבעלי החיים ובפרט הדגים שחיים בהם נמצאים בסכנת הכחדה. 
					בכ-6 דונם של שטח בנוי יוצגו לקהל המבקרים מינים רבים של כרישים, דגים, מדוזות וצבי ים בתוך מיכלי ענק 
					ואקווריומים בגדלים שונים, כולם בתצוגה פנימית, מוחשכת ואלגנטית. 
					בחלקו האחרון של האקווריום יוקם "קיר מחויבות" ובו מתחייבים המבקרים על מספר "דברות" או כללי התנהגות בנושאים הקשורים לסביבה הימית
					 </p><br />
					<p>האקווריום יתמקד בים התיכון ובים האדום מתוך הבנה שבעלי החיים ובפרט הדגים שחיים בהם נמצאים בסכנת הכחדה. 
					בכ-6 דונם של שטח בנוי יוצגו לקהל המבקרים מינים רבים של כרישים, דגים, מדוזות וצבי ים בתוך מיכלי ענק ואקווריומים בגדלים שונים, כול
					ם בתצוגה פנימית, מוחשכת ואלגנטית. 
					בחלקו האחרון של האקווריום יוקם "קיר מחויבות" ובו מתחייבים המבקרים על מספר "דברות" או כללי התנהגות בנושאים הקשורים לסביבה הימית
					(שמירת על סביבת חוף הים, דיג חוקי וכו'
					)</p><br/><br/>

					<div style="text-align:center">					
						<button class="myButton" type="button"  onclick="redirect('/commitmentWall/templates/commitment.html')">לחתימה לחץ כאן</button>	
						<br/><br/>
						<div class="fb-like"
							data-href="https://www.facebook.com/JerusalemBiblicalZoo/timeline" 
							data-layout="button_count" 
							data-action="like" 
							data-show-faces="true" 
							data-share="true">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="footer">web development by <a href="mailto:matanshhlomi88@gmail.com">Matan Shlomi</a></div>
	</body>
</html>
