<!DOCTYPE html>
<html>
	<head>
		<title>אקווריום - דף ניהול</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/Administration/static/css/indexStyle.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script type="text/javascript" src="../static/js/index.js"></script>		
	</head>
	<body>
		<div id="header">	</div>
		<!-- main content of the page -->
		<div class="contentBox">
			<div class="innerBox" >
				<div class="contentTitle" ><h1 style="text-align:center;"><u>דף אדמיניסטרציה - קיר המחויבות</u></h1></div>
				<!-- selection options -->
				<div class="contentText">
					<br/><br/>
					<table >
						<tr>
							<td id="data_txt">שם פרטי:</td>
							<td><input id="first_name" type="text" placeholder="First Name" ></td>
						</tr>
						<tr>
							<td id="data_txt">שם משפחה:</td>
							<td><input id="last_name" type="text" placeholder="Last Name" ></td>
						</tr>
						<tr>
							<td id="data_txt">סיסמה:</td>
							<td><input id="password" type="password" placeholder="password" ></td>
						</tr>
						<tr>
							<td colspan="2" id="error_msg"><br/></td>
						</tr>
						<tr>
							<td><br/></td>
							<td id="data_txt"> <button id="ok" onclick="checkUser();" >כניסה</button></td>
						</tr>
					</table>
				</div> <!-- END - selection options -->
			</div>
		</div>
		<!-- footer  -->
		<div id="footer"> web development by <a href="mailto:matanshhlomi88@gmail.com">Matan Shlomi</a></div>
	</body>
</html>